.headerdiv {
    display: flex;
    background-color: white;
    margin-top: 10px;
    height: 40px;
    align-items: center;
  }
nav * {
    display: inline;
} 
.navlist {
    margin: 15px;
  }
  .logo {
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .companyname {
    color: black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-right: 800px;
  }
  .headerdiv a {
    text-decoration: none;
    color: black;
    border-bottom: 5px; color: #000;
  }
  .brush {
    height: 100px;
  }
  .smallerparagraphs {
    display: flex;
  }
  .sunscreen{
    height: 200px;
  }
  .manywords {
    display: flex;
  }
  .concealer{
    height: 300px;
  }
  .firstitem{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 15px;
  }
  .heading{
    font-size: 40px;
  }
  .biggerparagraph{
    margin-top: 50px;
    margin-right: 20px;
  }
  